#gamePlay {
  text-align: center;
}

.inline {
  display: inline-block;
  border-style: solid;
  border: 1px;
}

.inline div {
  border: 1px solid black;
  text-align: center;
}

#buttons {
  margin: 10px;
  text-align: center;
}
